body {
    background-color: #F7F5EB;
}

hr {
    height: 0px;
    border-style: dotted none none;
    width: 10%;
    border-width: 5px;
    border-color: #EAE0DA;
}
h1,h2{
    color: #EAC7C7;
}
h3,h4 {
    color: #d4a4a4;
}
href{
    color:#d4a4a4; ;
}
a{
    color: #d4a4a4;
}
a:hover{
    color: #bb7e7e;
}
table,
th,
td {
    border: 1px solid;
    color: #925e5e;
    border-collapse: collapse;
    padding:12px;
}